@import 'https://fonts.googleapis.com/css?family=Lato:400,700';



body {
    font-family: 'Lato', sans-serif;
}

.margin-button{
    margin-bottom: 10px;
}

.filterMovie{
    margin-top: 10px;
}

ul li {
    padding-bottom:  20px;


}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0px!important;
 text-transform: none;
}
