@import 'https://fonts.googleapis.com/css?family=Lato:400,700';



body {
    font-family: 'Lato', sans-serif;
}

.background-index{
    background: url(img/banner.jpg) center / cover white;
  
    height: 100vh;
    
}
.margin-button{
    margin-bottom: 10px;
}


.no-margin{
    margin-bottom: 0px !important;
}

.filterMovie{
    margin-top: 10px;
}

ul li {
    padding-bottom:  20px;


}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0px!important;
 text-transform: none;
}

.row-padding{
    padding: 30px;


}

.card.large .card-image {
    max-height: 80%!important;
}
.showFilterMovies{
  
    height: 500px;
    overflow-y: scroll;
}

nav {
    background: none;
}